name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13"]

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

#      - name: Install dependencies
#        run: |
#          python -m pip install -U pip
#          pip install -r requirements.txt
##          pip install ruff pytest pytest-asyncio
#
#      - name: Ruff (lint)
#        uses: astral-sh/ruff-action@v3
#        with:
#          args: "check"
#          src: "./src"
#
#      - name: Ruff (format check)
#        uses: astral-sh/ruff-action@v3
#        with:
#          args: "format --check --diff"
#          src: "./src"
#
#      - name: Run tests
#        env:
#          # Made it just in case
#          DISCORD_TOKEN: "dummy"
#          DEV_GUILD_ID: "0"
#        run: |
#          pytest -q
